$text-color: var(--theme-color-text);
$background-color: var(--theme-color-background);

body {
  background-color: $background-color;
  color: $text-color;

  transition: background-color $transition-settings, color $transition-settings;
}
