$text-color: white;
$background-color: black;

html {
  // scroll-behavior: smooth;
}

body {
  background-color: $background-color;
  color: $text-color;

  // transition: background-color $transition-settings, color $transition-settings;
}
