/* Font General */
$font-general-line-height: 32px;

/* Sizes */
$page-width: 120rem;
$page-margin-inline: auto;
$thin-margin-inline: 12rem;

/* General Vars*/
$transition-settings: 300ms ease-in-out;
